<h2>@ViewData["Title"]</h2>
<p>@ViewData["SubTitle"]</p>

<section class="karus">

    <img src="~/karus/data/cirkelvanverandering/cirkelvanverandering.png" alt="Cirkel van Verandering" />

</section>