@{
    Layout = "~/Views/Shared/_Karus_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>@ViewData["SubTitle"]</p>

<section class="karus_cirkelvanverandering">

    <div class="container text-center">
        <img src="~/karus/data/cirkelvanverandering/cirkelvanverandering.png" alt="Cirkel van Verandering" />
    </div>

</section>