@{
    Layout = "~/Views/Shared/_Karus_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>@ViewData["SubTitle"]</p>

<section class="karus">

    <img src="~/karus/data/cirkelvanverandering/cirkelvanverandering.png" alt="Cirkel van Verandering" />

</section>