<h2>@ViewData["Title"]</h2>

<section class="karus">
    <div class="card mb-3 mt-3">
        <div class="row no-gutters">
            <div class="col-4 col-md-3">
                <img src="~/karus/card-waardenboom.png" class="card-img" alt="...">
            </div>
            <div class="col-8 col-md-9">
                <div class="card-body">
                    <h5 class="card-title"><a class="stretched-link" asp-controller="Karus" asp-action="Waardenboom" asp-route-culture="@CultureInfo.CurrentCulture.Name" title="Waardenboom">Waardenboom</a></h5>
                    <p class="card-text">Je zeven levenswaarden.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mt-3">
        <div class="row no-gutters">
            <div class="col-4 col-md-3">
                <img src="~/karus/card-crisisbox.png" class="card-img" alt="...">
            </div>
            <div class="col-8 col-md-9">
                <div class="card-body">
                    <h5 class="card-title"><a class="stretched-link" asp-controller="Karus" asp-action="Crisisplan" asp-route-culture="@CultureInfo.CurrentCulture.Name" title="Crisisplan">Crisisplan</a></h5>
                    <p class="card-text">Je toolkit voor het managen van cravings en herval.</p>
                </div>
            </div>
        </div>
    </div>
</section>