<footer class="footer pt-3">

    <p>
        &copy; @DateTime.UtcNow.Year -
        <a href="/" title="Eric Jansen">Eric Jansen</a> -
        <a href="/privacy" title="Privacy policy">Privacy Policy</a>
    </p>

</footer>