<header>

    <div class="d-flex justify-content-between">
        <div class="align-self-center">
            <h1 class="display-1"><a href="/" alt="@_tenantProvider.Tenant?.Name">@_tenantProvider.Tenant?.Name</a></h1>
        </div>

        <div class="navigation align-self-center ms-4">
            <a class="" href="/" role="button">Home</a>
            <a class="" href="/contact" role="button">Drop me a line</a>
        </div>
    </div>

</header>
