<header>

    <nav class="navbar navbar-dark bg-dark">

        <h1 class="display-1"><a href="/" alt="@_tenantProvider.Tenant?.Name">@_tenantProvider.Tenant?.Name</a></h1>

        <div class="d-none d-sm-block ml-auto">
            <a class="me-3" aria-current="page" href="/">Home</a>
            <a aria-current="page" href="/contact">Drop me a line</a>
        </div>

        <div class="d-block d-sm-none">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas w-auto offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header align-content-end">
                    <p class="offcanvas-title me-5" id="offcanvasDarkNavbarLabel">&nbsp;</p>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body mx-3">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/contact">Drop me a line</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/privacy">Privacy policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</header>
