@{
    ViewData["Title"] = "Home";
}

<div class="me text-center">
    <img src="~/img/face_headphones.jpg" class="rounded-circle mb-4" alt="Eric Jansen" />
</div>

<h2>Hello,</h2>

<article>
    <p>
        I'm a resident of the beautiful country of Belgium, and this
        website serves as a minimalistic online presence for me.
    </p>
    <p>
        While there
        isn't much to see here, and this website isn't the most fancy out there,
        feel free to explore and get a glimpse into my digital corner.
    </p>
    <p>
        This site is intentionally kept discreet to maintain privacy, but
        I appreciate your visit nonetheless. If you have any inquiries or just
        want to say hello, you can drop me a line <a href="/contact" title="Drop me aline">here</a>.
    </p>
    <p>
        Thank you for stopping by!
    </p>
</article>

