@using Ej.Application.Configuration

<section id="hero">
    <img src="~/img/face-headphones-400x400.jpg" width="250px" width="250px" class="img-fluid mx-auto d-block rounded-circle mb-4" alt="@ViewBag.TenantName" />
</section>

<section id="about">
    <h2>@ViewBag.PageTitle,</h2>
    @Html.Raw(ViewBag.Content)
</section>

