@inject IHtmlLocalizer<HomeController> _localizer;

@{
    ViewData["Title"] = _localizer["__View_Privacy_Title"];
    ViewData["MetaTitle"] = _localizer["__View_Privacy_MetaTitle"];
}

<h2>@ViewData["Title"]</h2>

@Html.Raw(ViewBag.Content)