$karus-advantages-bg: #5D9C59;
$karus-advantages-color: white;
$karus-disadvantages-bg: #DF2E38;
$karus-disadvantages-color: white;
$karus-waardenboomvalue-color: $karus-advantages-bg;
$karus-waardenboomvalue-transition-color: $karus-disadvantages-bg;
$bs-body-bg: #212529;
$bs-body-color: #f8f9fa;

.karus {

    p, li {
        line-height: 1.8rem;
    }

    text {
        cursor: pointer;
        font-weight: bolder;
        font-size: 4rem;
        fill: $karus-waardenboomvalue-color;
        text-anchor: middle;
        border: 100px;
    }

    text:hover {
        fill: $karus-waardenboomvalue-transition-color;
        transition-duration: 0.5s;
    }

    text:not(:hover) {
        transition-duration: 1s
    }

    .card.task {
        transition: transform 0.3s ease;

        h5 {
            a {
                color: black;
            }
        }
    }

    .card.task:hover {
        transform: scale(1.02);
    }
}

.karus_balans {
    .accordion {
        .accordion-item {
            h2 {
                padding: 0;
            }

            .accordion-button.advantages:not(.collapsed) {
                color: $karus-advantages-color;
                background-color: $karus-advantages-bg;
            }

            .accordion-button.advantages.collapsed {
                color: $karus-advantages-color;
                background-color: $karus-advantages-bg;
            }

            .accordion-button.disadvantages {
                color: $karus-disadvantages-color;
                background-color: $karus-disadvantages-bg;
            }

            .accordion-body {
                background-color: $bs-body-bg;
                color: $bs-body-color;
            }
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            padding-left: 30px;
        }

        li i {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    ul.advantages li i {
        color: $karus-advantages-bg;
    }

    ul.disadvantages li i {
        color: $karus-disadvantages-bg;
    }
}

.karus_emergency_contacts {
    a:hover {
        font-weight: bold;
    }

    img {
        transition: transform 0.1s ease;
    }

    img:hover {
        transform: scale(1.03);
    }

    .contact-name {
        margin: 0;
    }

    a {
        color: #fff;
    }
}

.waardenboom_value p:first-of-type {
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.waardenboom_value p:last-of-type {
    margin-bottom: 2rem;
}
