@{
    var halt = new List<HaltItem>
    {
        new HaltItem { Name = "Hungry", ImageFilename = "hunger.webp", Description = "Wanneer heb ik laatst gegeten? Is mijn honger emotioneel of heeft mijn systeem voedsel nodig? Ga voor een vettigheid." },
        new HaltItem { Name = "Angry", ImageFilename = "angry.webp", Description = "Wat ben ik aan het doen dat me gestresseerd maakt? Is het de stress die me boos maakt?" },
        new HaltItem { Name = "Lonely", ImageFilename = "lonely.webp", Description = "Wanneer heb ik voor het laatst iemand gezien? Was dat een positieve of een negatieve ervaring? Bel of WhatsApp iemand." },
        new HaltItem { Name = "Tired", ImageFilename = "tired.webp", Description = "Heb ik genoeg geslapen en mijn systeem de nodige rust gegeven die het verdiend? Relax een beetje. Of kruip gewoon in je nest." }
    };
}

<div class="card karus_halt">
    <div class="card-body">
        <h5>H.A.L.T.</h5>
        <h6 class="text-center">Mogelijke triggers voor gebruik</h6>
        <div>
            @foreach (var item in halt)
            {
                <div class="d-flex align-items-start halt-item">
                    <!-- Circle -->
                    <div class="halt-initial me-3 flex-shrink-0">@item.GetInitial()</div>

                    <!-- Name and Description -->
                    <div>
                        <div class="halt-name fw-bold">@item.Name</div>
                        <div class="halt-description">@item.Description</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
