@model List<EmergencyContact>

<div class="card bg-danger text-white karus_emergency_contacts">
    <div class="card-body">
        <h5>Emergency contacts</h5>
        <div class="container">
            <div class="row g-2">
                @if (Model is null)
                {
                    <div class="col">
                        <p>Geen emergency contacten gevonden.</p>
                    </div>
                }
                else
                {
                    @foreach(var contact in Model!.OrderBy(c => c.SortNumber))
                    {
                        <div class="col col-3 text-center">
                            <a href="https://wa.me/@contact.PhoneNumber" title="Bel @contact.Name">
                                <img src="@contact.ImageUri" class="img-fluid img-thumbnail rounded-circle" />
                                <p class="contact-name">@contact.Name</p>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

