@{
}

<div class="card karus_moneycounter" id="karus_moneycounter">
    <div class="card-body">
        <h5>Money Counter</h5>
        <div class="container">
            <div class="row">
                <div class="col text-center no-x" id="no-drinking">
                    <img src="~/karus/Crisisbox/moneycounter-no-drinking.svg" alt="No drinking" class="img-fluid" />
                    <div class="time">
                        0 dagen 0:00
                    </div>
                    <div class="euro">
                        € 0,00
                    </div>
                </div>
                <div class="col text-center no-x" id="no-smoking">
                    <img src="~/karus/Crisisbox/moneycounter-no-smoking.svg" alt="No drinking" class="img-fluid" />
                    <div class="time">
                        0 dagen 0:00
                    </div>
                    <div class="euro">
                        € 0,00
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="total">
                        € 0,00
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>