<div class="card crisisbox_youtube">
    <div class="card-body">
        <h5>Youtube Channels</h5>
        <div>
            <a href="https://www.youtube.com/channel/UCrkPsvLGln62OMZRO6K-llg" title="Nick Chapsas Youtube Channel" target="_blank">
                <img src="~/karus/Data/Crisisbox/Youtube/channel-nickchapsas.jpg" class="img-fluid" />
            </a>
        </div>
    </div>
</div>