@{
}

<div class="card karus_moneycounter">
    <div class="d-flex align-items-start flex-column">
        <div class="mb-auto p-2">Flex item</div>
        <div class="p-2">Flex item</div>
        <div class="p-2">Flex item</div>
    </div>
</div>