<div class="card karus_flitskaart">
    <div class="card-body">
        <h5>Flitskaart</h5>
        <h6 class="text-center">Verbreed je perspectief in een flits!</h6>
        <div class="container p-0">
            <div class="row g-4 justify-content-center">
                <div class="col">
                    <img class="img-fluid" style="max-height: 700px;" src="~/karus/data/flitskaart/flitskaart-obverse.png" alt="Flitskaart voorzijde" />
                </div>
                <div class="col">
                    <img class="img-fluid" style="max-height: 700px;" src="~/karus/data/flitskaart/flitskaart-reverse.png" alt="Flitskaart keerzijde" />
                </div>
            </div>
        </div>
    </div>
</div>
