@using Ej.Karus.Extensions;

@model List<Quote>

<div class="card karus_quotes">
    <div class="card-body">
        <div class="card-title">
            <h5>Inspirational Quotes</h5>
            <a asp-controller="Crisisbox" asp-action="Quotes" asp-route-culture="@CultureInfo.CurrentCulture.Name" title="Quotes">
                <i class="bi bi-fullscreen float-end text-dark" style="cursor: pointer;" role="link"></i>
            </a>
        </div>
        @if (Model?.Count > 0)
        {
            <ul>
                @foreach (var quote in Model)
                {
                    <li>
                        <i class="bi bi-quote"></i>
                        <span class="quote-text">@quote.Text</span>
                        <span class="quote-signature">@quote.GetSignature()</span>
                    </li>
                }
            </ul>
        }
    </div>
</div>