@model CrisisboxSpotifyItemsViewModel

<div class="card karus_spotify_items">
    <div class="card-body">
        <h5>@Model.Title</h5>

        <div class="container m-0 p-0">
            @foreach (var playlist in Model.Items)
            {
                <div class="d-flex mb-3 spotify-item">
                    <div class="me-2 spotify-item-icon"><i class="bi bi-music-note-beamed"></i></div>
                    <div class="spotify-item-nam pt-1">@playlist.Name</div>
                    <div class="ms-auto spotify-item-play"><a href="@playlist.Uri" title="@playlist.Name" target="_blank"><i class="bi bi-play-circle-fill"></i></a></div>
                </div>
            }
        </div>
    </div>
</div>
