<footer class="footer pt-5 pb-3">

    <p>
        &copy; @DateTime.UtcNow.Year -
        <a href="/" title="@_tenantProvider.Tenant?.Name Home">@_tenantProvider.Tenant?.Name</a> -
        <a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a>
    </p>

</footer>