@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Http

@inject IHtmlLocalizer<SharedResource> _htmlLocalizer

<header class="header">
    <div class="container-fluid">
        <div class="py-5">
            <a asp-controller="Karus" asp-action="Index" asp-route-culture="@CultureInfo.CurrentCulture.Name" title="Karus">
                <img class="display-1 img-fluid mx-auto" src="~/karus/assets/karus-logo.svg" />
            </a>
        </div>
    </div>
</header>
